{% extends "listings/base.html" %}

{% block content %}
    <h1>Liste des titres!</h1>
    <p><a href="{% url 'listing-create' %}">Creer un article</a></p>
    <p>Ma liste:</p>
    <ul>
        {% for element in listings %}
            <li>
                <a href="{% url 'listing-detail' element.id %}">{{ element.title }}</a>
                 - <a href="{% url 'listing-update' element.id %}">Modifier l'annonce</a>
                 - <a href="{% url 'listing-delete' element.id %}">Supprimer l'annonce</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}